<div layout="column">
    <navbar></navbar>
    <md-content>
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">Диалектическая логика</span>
                    <span class="md-subhead">Введение</span>
                </md-card-header-text>
                <md-card-content>
                    <p>Логика рассматривает мышление как таковое. Логику можно назвать наукой об определениях
                        мышления. Процедура логического познания содержит в себе три взаимосвязанных
                        момента:
                    <ul>
                        <li><strong>рефлексию</strong> или момент рассудочного мышления</li>
                        <li><strong>диалектику</strong> или момент
                            отрицательно-разумного мышления
                        </li>
                        <li><strong>спекуляцию</strong> или момент положительно-разумного
                            мышления
                        </li>
                    </ul>
                    </p>
                    <p>Основные принципы диалектического мышления:</p>
                    <ul>
                        <li>продвижение от абстрактного к конкретному</li>
                        <li>группировка категорий по этапам познания</li>
                        <li>единство противоположных категорий в третьей категории</li>
                        <li>совпадение логической последовательности категорий с исторической последовательностью их
                            открытия
                        </li>
                    </ul>
                    <p>Всем этим мышление человека занимается ежедневно, но не обращает на это внимание,
                        подобно тому, как в своей разговорной речи человек мало думает о грамматике языка, но,
                        тем не менее, в общих чертах соблюдает её. &laquo;Грамматика мышления&raquo; является общей для
                        всех людей.</p>
                </md-card-content>
            </md-card-header>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="gotoWizard()">НАЧАТЬ</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
    <fabbar></fabbar>
</div>